<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aromaterapia</title>
    <link rel="stylesheet" href="css/aromaterapia.css">
</head>
<body>
    <div class="container">
        <h1 class="main-title">Aromaterapia</h1>
        <div class="image-grid">
            <a href="descripcion_imagen1.html" class="image-link">
                <img src="assets/imagen1.jpg" alt="Imagen 1" class="grid-image">
                <p class="image-description">JAZMÍN</p>
            </a>
            <a href="description_imagen2.html" class="image-link">
                <img src="assets/imagen2.jpg" alt="Imagen 2" class="grid-image">
                <p class="image-description">CANELA</p>
            </a>
            <a href="description_imagen3.html" class="image-link">
                <img src="assets/imagen3.jpg" alt="Imagen 3" class="grid-image">
                <p class="image-description">ROSAS</p>
            </a>
            <a href="description_image4.html" class="image-link">
                <img src="assets/imagen4.jpg" alt="Imagen 4" class="grid-image">
                <p class="image-description">Pimienta negra</p>
            </a>
        </div>
    </div>
</body>
</html>
